.nodecontainer {
    margin: auto;
}

.node {
    width: 80px;
    height: 80px;
    background: #ccce;
}

.tmplmarginer {
    margin: 20px;
}

path.blueLine {
    stroke-width: 2px;
    fill: none;
    stroke: rgb(0, 119, 187);
}

.blueLine.dash {
    stroke-dasharray: 4;
}

/* #app {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
} */

/* .menu {
    height: 100%;
    /* display: flex; * /
    background: #eee;
} */

.menu a {
    writing-mode: vertical-rl;
    background: transparent;
    border: transparent;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.menu a:hover {
    background: #88e;
}

.remove {
    --size: 2em;
    position: absolute;
    top: calc(-1 * var(--size) / 2);
    right: calc(-1 * var(--size) / 2);
    width: var(--size);
    height: var(--size);
    border: 1px solid #888;
    border-radius: var(--size);
    background: #ccc;
    display: block;
}

.remove::after {
    content: "\00d7";
    display: block;
    text-align: center;
    font-size: var(--size);
}
