.outer {
    display: flex;
    align-items: stretch;
}

.plugs {
    --plug-width: 15px;
    --plug-spacing: 2px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: var(--plug-width);
}

.inputside {
    margin-left: calc(-1 * (var(--plug-spacing) + var(--plug-width)));
    margin-right: var(--plug-spacing);
}

.outputside {
    margin-left: var(--plug-spacing);
    margin-right: calc(-1 * (var(--plug-spacing) + var(--plug-width)));
}

.plugcontainer {
    margin: 9px 0;
}

.plugbox {
    width: var(--plug-width);
    height: 8px;
    background: #888;
    border-radius: 8px;
}
