.base {
    display: flex;
    flex-direction: column;
    background: #ccc;
    border-radius: 10px;
    border: 1px solid black;
    /* overflow: hidden; */
    min-width: 80px;
    min-height: 80px;
}

.base.error {
    background: #c88;
}

.title {
    background: #666;
    color: #fff;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 1em;
    padding: 0 10px;
}

.label {
    flex: 1;
    margin: 0 10px;
}

.inputbox {
    flex: 1;
    margin: 2px 5px;
    border: 1px solid gray;
    border-radius: 14px;
    padding: 0 4px;
    background: #bbb;
}

.inputbox label {
    display: flex;
}

.inputbox input {
    flex: 1;
    /* flex + width = at-least */
    width: 4em;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.inputbox select {
    flex: 1;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.plug {
    --width: 15px;
    --overwrap: 5px;
    flex: none;
    width: var(--width);
    height: 10px;
    border-radius: 10px;
    background: #666;
    border: 1px solid black;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input .plug {
    /* overwrapping into label to make label spacing common for both input and output. */
    margin-left: calc(-1 * var(--width));
    position: relative;
    left: 5px;
}

.output {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.output .plug {
    margin-left: calc(-1 * var(--width));
    position: relative;
    left: calc(var(--width) - var(--overwrap));
}

.output .label {
    text-align: right;
}

.remove {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    width: 1em;
    height: 1em;
    border: 1px solid #888;
    border-radius: 10px;
    background: #ccc;
}

.remove::after {
    content: "\00d7";
    display: block;
    text-align: center;
}
